{% extends "dashboard_base.html" %}
{% block content %}
<div class="side-body">
  <div class="page-title">
    <span class="title">Publish Resume</span>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <ol class="breadcrumb">
          <li><a href="{%url "dashboard:index" %}">Home</a></li>
          <li class="active">{{resume.name}}</li>
        </ol>
        <div class="card-header">
          <div class="card-title">
              <div class="title">{{resume.name}}</div>
          </div>
        </div>
        <div class="card-body">
         {% include "includes/messages.html"%}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                <label for="{{field.id}}">{{field.label}}</label>
                {% if field.field.required %}
                  <p class="required_asterik">*</p>
                {% endif %}
                {{field}}
                {% ifequal field.name 'resume_template' %}
                    <a  id="livePreview" data-toggle="modal" class="btn btn-success " href="#;"
                        data-target="#myModal">Live Preview</a>

                    <span class="alert alert-error" id="previewError">Please select the template first.</span>
                {% endifequal %}
                {% if field.errors %}
                  {% for error in field.errors %}
                      <span class="alert alert-error form-control alert-danger">{{error}}</span>
                  {% endfor %}
                {% endif %}
                </div>
              {% endfor %}
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>

{% endblock %}
{% block bottomjs %}
{{block.super}}
{{form.media}}
<script type="text/javascript">
    $( document ).ready(function() {
        $('#previewError').hide()
        $('#livePreview').click(function(ev){
            templateId = $('#id_resume_template').val()
            if(templateId){
                $('#previewError').hide()
                livePreviewUrl = Urls['resume:live_preview'](templateId, {{resume.id}})
                console.log(livePreviewUrl);
                $(this).attr('href', livePreviewUrl);
                $(this).modal({show:true});
            }
            else{
                $('#previewError').show()
            }
        });
    });
</script>
{% endblock %}

