{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    {% block head%}
    {% block title %}
    <title>Resume Maker</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="{% static "website/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/font-awesome.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/animate.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/bootstrap-switch.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/checkbox3.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/jquery.dataTables.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/dataTables.bootstrap.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/select2.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/style.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "website/css/flat-blue.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap3_datepicker/css/datepicker3.css"%}">
    {% endblock %}
  </head>
  <body class="flat-blue">
    <div class="app-container">
    <div class="row content-container">
      {% block topbar %}
      {% include "includes/topbar.html" %}
      {% endblock %}
      {% block sidebar %}
      {% include "includes/sidebar.html" %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>
    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock %}
    <div>
    {% block bottomjs %}
    <script type="text/javascript" src="{% static "website/js/jquery.min.js"%}"></script>
    <script type="text/javascript" src="{% static "website/js/bootstrap.min.js"%}"></script>
    <script type="text/javascript" src="{% static "webste/js/Chart.min.js"%}"></script>
    <script type="text/javascript" src="{% static "website/js/bootstrap-switch.min.js"%}"></script>
    <script type="text/javascript" src="{% static "website/js/jquery.matchHeight-min.js"%}"></script>
    <script type="text/javascript" src="{% static "website/js/jquery.dataTables.min.js"%}"></script>
    <script type="text/javascript" src="{% static "website/js/dataTables.bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/select2.full.min.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/ace.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/mode-html.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/theme-github.js"%}"></script>
    <script type="text/javascript" src="{% static "website/js/app.js"%}"></script>
    <script type="text/javascript" src="{% static "website/js/index.js"%}"></script>
    <script type="text/javascript" src="{% static "bootstrap3_datepicker/js/bootstrap-datepicker.js"%}"></script>
    <script type="text/javascript">
      $( document ).ready(function() {
        $('#profile_pic').change(function() {
          $('#profile_pic_form').submit();
        });
      });
    </script>
    {% endblock %}
  </body>
</html>


